.banner {
    padding: 16px 0;
    color: var(--color-text-primary-on-dark);
    background-color: var(--theme-color-brand); /* show how we can limit set of backgrounds */
}

.banner__inner {
    display: flex;
    gap: 12px;
    align-items: center;
}

.banner__text {
    flex-grow: 1;
    margin: 0;
}
