.button {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
}

.button--primary {
    color: var(--theme-color-brand);
    background-color: var(--ui-white);
    border-color: var(--ui-white);
}

.button--secondary {
    color: var(--ui-white);
    background-color: transparent;
}
