.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 0;
}

.header__logo {
    width: 201px;
    height: 32px;
    background: #e2e2e2;
}

.header__controls {
    display: flex;
    gap: 32px;
    align-items: center;
}
