.language-switcher {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--tokens-color-text-primary-brand);
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.language-switcher__leading-icon {
    width: 1em;
    height: 1em;
}

.language-switcher__trailing-icon {
    width: 0.5em;
    rotate: 90deg;
}
