.nav-button {
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    color: var(--tokens-color-text-primary-brand);
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.nav-button:hover {
    color: var(--tokens-color-text-primary-on-dark);
    background-color: var(--tokens-color-background-brand);
}

.nav-button__icon {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
}
