/* stylelint-disable custom-property-empty-line-before */

:root {
    --neutral-900: #03121F;
    --success-500: #00b250;

    --ui-aquablue: #00b0ff;
    --ui-white: #fff;

    --neutral-400: #8C94A2;
}
