:root {
    --color-background: var(--white);
    --color-text-primary: var(--dark);
    --color-text-primary-on-dark: var(--white);
    --color-text-secondary: var(--neutral-400);
    /* TODO: Refactor */
    --brand: var(--brand-800);
    --brand-light: var(--brand-600);
    --brand-lighter: var(--brand-500);
    --accent: var(--accent-600);
}
