/* stylelint-disable custom-property-empty-line-before */

:root {
    /*
    /* THEME BASE, PRIMITIVES */
    --tokens-color-background-brand: var(--brand-800);
    --tokens-color-background-brand-light: var(--brand-600);

    --tokens-color-border-accent: var(--accent-600);

    /* BASIC */
    --tokens-color-background-base: var(--ui-white);
    --tokens-color-background-dark: var(--neutral-900);

    --tokens-color-text-primary: var(--neutral-900);
    --tokens-color-text-secondary: var(--neutral-400);
    --tokens-color-text-icon-primary-success: var(--success-500);
    --tokens-color-text-icon-secondary-brand: var(--brand-200);
    --tokens-color-text-icon-primary-brand: var(--brand-800);

    --tokens-color-text-primary-brand: var(--brand-800);
    --tokens-color-text-primary-on-dark: var(--ui-white);

    /* CTA */
    --color-cta-text: var(--ui-white);
    --color-cta-background: var(--accent-600);
    --color-cta-text-accent: var(--ui-white); /* a subject to change */
    --color-cta-background-accent: var(--accent-600); /* a subject to change */
}
